BACKEND_URL=http://localhost:9001

# Database Configuration
POSTGRES_USER=admin
POSTGRES_PASSWORD=buet_admin_pass
POSTGRES_DB=ecouncil_db
DATABASE_URL=postgresql://admin:buet_admin_pass@db:5432/ecouncil_db

# Security / Auth
SECRET_KEY=your_super_secret_buet_key

# MinIO / Object Storage Configuration
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
R3_REGION=us-east-1
R3_ENDPOINT=http://minio:9000
R3_ACCESS_KEY_ID=minioadmin
R3_SECRET_ACCESS_KEY=minioadmin
R3_BUCKET_NAME=ecouncil-bucket
